<div class="row mt-5">
    <div class="col text-center">
        <div class="block-27">
            <ul>
                <li><a href="#" {% if page.has_previous %} href="?page={{ page.previous_page_number }}"{% endif %}>&lt;</a></li>
                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
</div>