<div class="row mt-5">
    <div class="col text-center">
        <div class="block-27">
            <ul>
                {% if articles.has_previous %}
                    <li><a href="?page={{ articles.previous_page_number }}">&lt;</a></li>
                {% else %}
                    <li class="disabled"><span>&lt;</span></li>
                {% endif %}
                {% for page_number in articles.paginator.page_range %}
                <li class="{% if object_list.number == page_number %}active{% endif %} "><a href="?page={{ page_number }}"><span>{{ page_number }}</span></a></li>
                {% endfor %}

                {% if articles.has_next %}
                    <li><a href="?page={{ articles.next_page_number }}">&gt;</a></li>
                {% else %}
                    <li class="disabled"><span>&gt;</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>